{% extends 'main/index.html' %}
{% load static %}
{% block body %}
<div class="">
    <div class="card bg-light " style="margin: 20px 50px 50px 80px">
        <div class="card-header">Online Fire Reporting</div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
            <input type="submit" value="Login" class="btn btn-primary">
            </form>
          
        </div>
      </div>
    
</div>

{% endblock body %}



